@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body,
html,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 100%;
  box-sizing: border-box;
}

#root {
  background-color: var(--color-blue-800);
}

@font-face {
  font-family: RobotoBold;
  src: url(../public/assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: RobotoRegular;
  src: url(../public/assets/fonts/Roboto-Regular.ttf);
}

@theme {
  --color-gray: #949494;
  --color-blue-800: #242742;
  --color-blue-700: #36384d;
  --color-red: #ff6155;
  /* Gradient: FF6A3A to right FF527B */

  --breakpoint-tablet: 376px;
  --breakpoint-desktop: 769px;
}

@layer base {
  .textPreset1 {
    font-family: RobotoBold;
    font-size: 3.5rem;
    line-height: 100%;
  }
  .textPreset1Mobile {
    font-family: RobotoBold;
    font-size: 2.5rem;
    line-height: 100%;
  }
  .textPreset2Bold {
    font-family: RobotoBold;
    font-size: 1rem;
    line-height: 150%;
  }
  .textPreset2Regular {
    font-family: RobotoRegular;
    font-size: 1rem;
    line-height: 150%;
  }
  .textPreset3 {
    font-family: RobotoBold;
    font-size: 0.75rem;
    line-height: 150%;
  }
}
